<h3>{{name}}</h3>
<h4>{{artist}}</h4>
<h5>{{album}}</h5>
<img src='{{image}}'>
<audio controls>
<source src='{{preview}}'/>
</audio>

<form action="/song/add" method="POST">
<input type="text" name="emoji">
<input type="hidden" name="artist" value="{{artist}}">
<input type="hidden" name="song" value="{{name}}">
<input type="hidden" name="album" value="{{album}}">
<input type="hidden" name="preview" value="{{preview}}">
<button>Add Song</button>

</form>
 